In [58]:
import pandas as pd
import numpy as np
import json

In [59]:
def update_ac(ac):
    """
    returns the ac key value if it's a dict or first value if a list.
    :param ac:
    :return:
    """
    if isinstance(ac[0], dict):
        return ac[0]['ac']
    return ac[0]

In [60]:
with open('dnd_data/bestiary/bestiary-mm.json') as f:
    data = json.load(f) 
mm = pd.json_normalize(data, 'monster', max_level=1, errors='ignore')
mm['ac'] = mm['ac'].apply(update_ac)

In [61]:
columns = ['name', 'str', 'dex', 'con', 'int', 'wis', 'cha', 'ac', 'hp.average', 'srd']
srd_list = mm[columns]
srd_list = srd_list[srd_list['srd'] == True]
srd_list

                    name  str  dex  con  int  wis  cha  ac  hp.average   srd
1                Aboleth   21    9   15   18   15   18  17         135  True
3                Acolyte   10   10   10   10   14   11  10           9  True
4     Adult Black Dragon   23   14   21   14   13   17  19         195  True
6      Adult Blue Dragon   25   10   23   16   15   19  19         225  True
7     Adult Brass Dragon   23   10   21   14   13   17  18         172  True
..                   ...  ...  ...  ...  ...  ...  ...  ..         ...   ...
438   Young Green Dragon   19   12   17   16   13   15  18         136  True
439     Young Red Dragon   23   10   21   14   11   19  18         178  True
442  Young Silver Dragon   23   10   21   14   11   19  18         168  True
443   Young White Dragon   18   10   18    6   11   12  17         133  True
449               Zombie   13    6   16    3    6    5   8          22  True

[323 rows x 10 columns]