In [23]:
import pandas as pd
import numpy as np
import json

with open('dnd_data/bestiary/bestiary-mm.json') as f:
    data = json.load(f) 
mm = pd.json_normalize(data, 'monster', max_level=1, errors='ignore')
mm.describe()

,page,str,dex,con,int,wis,cha,passive,hp.average,speed.swim,speed.climb,speed.burrow
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,74.000000,47.000000,25.000000
mean,211.455556,14.737778,12.935556,14.915556,8.606667,11.735556,10.211111,12.773333,77.606667,37.702703,29.255319,24.200000
std,103.802404,6.530562,3.196299,4.298130,5.559834,2.925021,5.591702,3.768017,89.990984,12.985482,9.439667,11.150486
min,12.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,5.000000,1.000000,10.000000,5.000000,5.000000
25%,120.250000,10.250000,11.000000,12.000000,3.000000,10.000000,6.000000,10.000000,19.000000,30.000000,20.000000,15.000000
50%,222.500000,16.000000,13.000000,14.000000,9.000000,12.000000,10.000000,12.000000,49.000000,40.000000,30.000000,20.000000
75%,318.000000,18.000000,15.000000,17.000000,13.000000,13.000000,15.000000,14.000000,104.750000,40.000000,40.000000,30.000000
max,350.000000,30.000000,28.000000,30.000000,25.000000,25.000000,30.000000,27.000000,676.000000,90.000000,40.000000,40.000000

In [26]:
mm['str'].value_counts()

18    49
16    38
15    34
17    31
10    29
19    27
12    19
14    19
3     18
11    18
13    18
23    16
20    14
6     12
8     11
21    10
1     10
2     10
22     9
7      8
27     8
5      7
25     7
30     6
4      5
24     5
26     4
9      3
29     3
28     2
Name: str, dtype: int64

In [30]:
mm['name'].str.title()

0                     Aarakocra
1                       Aboleth
2               Abominable Yeti
3                       Acolyte
4            Adult Black Dragon
                 ...
445    Yuan-Ti Malison (Type 1)
446    Yuan-Ti Malison (Type 2)
447    Yuan-Ti Malison (Type 3)
448           Yuan-Ti Pureblood
449                      Zombie
Name: name, Length: 450, dtype: object